# Challenge 3

In [1]:
# import libraries here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#### Import the titanic file. Name your dataset `titanic`.

In [2]:
titanic = pd.read_csv('./titanic.csv',low_memory=False)
titanic.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,U0,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,U0,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,U0,S

#### Explore the titanic dataset using Pandas dtypes

In [11]:
titanic.dtypes

PassengerId      int64
Survived       float64
Pclass           int64
Name            object
Gender          object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

#### What are your numerical variables? What are your categorical variables?

*Hint: Use Pandas `select_dtypes`*

In [8]:
titanic.select_dtypes(exclude=["bool_","object_"])

      PassengerId  Survived  Pclass        Age  SibSp  Parch      Fare
0               1       0.0       3  22.000000      1      0    7.2500
1               2       1.0       1  38.000000      1      0   71.2833
2               3       1.0       3  26.000000      0      0    7.9250
3               4       1.0       1  35.000000      1      0   53.1000
4               5       0.0       3  35.000000      0      0    8.0500
...           ...       ...     ...        ...    ...    ...       ...
1304         1305       NaN       3  29.513190      0      0    8.0500
1305         1306       NaN       1  39.000000      0      0  108.9000
1306         1307       NaN       3  38.500000      0      0    7.2500
1307         1308       NaN       3  29.513190      0      0    8.0500
1308         1309       NaN       3  25.315435      1      1   22.3583

[1309 rows x 7 columns]

In [9]:
#your code here- categorical variable
titanic.select_dtypes(exclude=["number"])

,Name,Gender,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,U0,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,U0,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,U0,S
...,...,...,...,...,...
1304,"Spector, Mr. Woolf",male,A.5. 3236,U0,S
1305,"Oliva y Ocana, Dona. Fermina",female,PC 17758,C105,C
1306,"Saether, Mr. Simon Sivertsen",male,SOTON/O.Q. 3101262,U0,S
1307,"Ware, Mr. Frederick",male,359309,U0,S
1308,"Peter, Master. Michael J",male,2668,U0,C

#### Set the plot style to `classic` and the figure size to `(12,6)`

*Hint: To set the style you can use `matplotlib.pyplot` functions or seaborn*

In [12]:
fig= plt.figure(figsize=(12,6))

axes= fig.add_axes([0.1,0.1,0.8,0.8])

x= [1,2,3,4,5]

y=[x**2 for x in x]

axes.plot(x,y)

plt.show()

ValueError: style must be one of white, dark, whitegrid, darkgrid, ticks

#### Use the appropriate visulalization to show the distribution of the column `Age`

In [ ]:
# your code here

#### Use subplots to plot the distribution of the `Age` variable with bins equal to `10`, `20` and `50`.

In [ ]:
# your code here

#### Whether the bin size affects your plot? Why?

In [2]:
#your comment here

#### Use seaborn to show the distribution of the column `Age`

In [ ]:
# your code here

#### Use the appropriate plot to visualize the column `Gender`. There are 2 ways of doing it. Do it both ways.

*Hint: Use matplotlib and seaborn*

In [ ]:
# your code here- 1st way

In [ ]:
# your code here- 2nd way

#### Use the appropriate plot to visualize the column `Pclass`

In [ ]:
# your code here

#### We would like to have in one single plot the summary statistics of the feature `Age`. Choose the appropriate plot to show below.

In [3]:
# your code here

#### What does the previous plot tell you about the feature `Age`? Comment.

In [ ]:
# your comment here

#### Now in addition to the summary statistics, we also want to visualize the distribution of `Age`. Choose the appropriate plot to sow below.

In [ ]:
#your code here

#### What additional information in the previous plot provide you about the feature `Age`? Comment.

In [ ]:
#your comment here

#### We suspect that there is a linear relationship between `Fare` and `Age`. Use the appropriate plot to show the relationship between these 2 features. There are 2 ways, please do it both ways.

*Hint: One of the ways involves using Seaborn*

In [ ]:
#your code-1st way

In [ ]:
# your code-2nd way

#### Using Seaborn plot the correlation matrix of various features.

*Hint: search how to use `heatmap`*

In [ ]:
#your code here

#### According to the previous plot, what are the most correlated feature? Comment.

In [ ]:
#your comment here

#### Use the appropriate plot to display the summary statistics of the `Age` in function of the `Pclass`.

*Hint: use boxplot to display summary statistics of `Age` in relation to each of the discrete values of `Pclass`*

In [ ]:
#your code here

#### Use the appropriate plot to display the distributions of  `Age` in relation to  `Gender`.

*Hint: use Facetgrid to display the distribution of `Age` for each categorical value of `Gender`*

In [ ]:
#your code here