In [11]:
import pandas as pd
data = ['ABCD', 'DEFG', 'HIJK', 'LMNO', 'PQRST', 'UVWX']
df = pd.DataFrame(data, columns=['My Strings'])
df

  My Strings
0       ABCD
1       DEFG
2       HIJK
3       LMNO
4      PQRST
5       UVWX

In [12]:
df.apply(lambda x: '-'.join(x))
df

717 µs ± 16 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [17]:
%timeit a=5

14.7 ns ± 0.381 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)